@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap");

@layer base {
  :root {
    --clr-bg-l1: hsl(223, 88%, 93%);
    --clr-bg-l2: hsl(223, 88%, 96%);

    --clr-txt-l1: hsl(0, 2%, 91%);
    --clr-txt-d1: hsl(0, 2%, 8%);
    --clr-txt-d2: hsl(0, 2%, 12%);

    --clr-bg-gradient: hsla(234, 93%, 11%, 1) hsla(220, 88%, 14%, 1)
      hsla(220, 76%, 16%, 0);

    --clr-accent-500: hsl(223, 88%, 13%);
    --clr-accent-700: hsl(223, 88%, 21%);
    --clr-accent-900: hsl(223, 88%, 84%);

    --ff-primary: "Poppins", sans-serif;
    --ff-accent: "Exo", sans-serif;

    --fs-heading-hero-large: 2rem;
    --fs-heading-hero-small: 1.25rem;
    --fs-heading-card: 1.7rem;
    --fs-heading-section: 1.5rem;
    --fs-cta: 1.125rem;
    --fs-nav: 1.5rem;
    --fs-bottom-nav: 1.7rem;
    --fs-paragraph: 1.125rem;
    --fs-contact-icons: 1.8rem;
    --fs-contact-email: 1.15rem;

    --padding-mockups: 4rem;
    --transform-mockups: scale(0.8);

    --gap-hero-content: 2rem;

    --fw-cta: 600;
    --fw-hero-s: 400;
    --fw-hero-l: 700;
    --fw-contact-link: 600;
  }

  @media (min-width: 30em) {
    :root {
      --fs-bottom-nav: 2rem;
      --fs-heading-hero-small: 1.5rem;
      --fs-heading-hero-large: 2.75rem;
      --fs-heading-section: 2rem;
      --fs-cta: 1.25rem;
      --fs-heading-card: 2rem;
      --fs-contact-icons: 2.5rem;
      --fs-contact-email: 1.55rem;

      --gap-hero-content: 3rem;
      --transform-mockups: scale(0.9);
    }
  }

  @media (min-width: 62.5em) {
    :root {
      --fs-heading-hero-small: 1.75rem;
      --fs-heading-hero-large: 3rem;
      --fs-heading-section: 3rem;
      --fs-paragraph: 1.25rem;
      --fs-contact-icons: 3.25rem;
      --fs-contact-email: 1.75rem;

      --fs-cta: 1.5rem;
      --fs-nav: 1.75rem;

      --gap-hero-content: 6rem;

      --padding-mockups: 0rem;
      --transform-mockups: scale(1);
    }
  }
}
